<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>HTML</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="scss/style.css">

  <link href="http://fonts.cdnfonts.com/css/acari-sans" rel="stylesheet">

  <script src="./dist/mapdata.js"></script>
  <script src="./dist/worldmap.js"></script>
</head>

<body>
  <section class="cards">
    <article class="item">
      <div class="bandera">
        <img src="https://www.countryflags.io/ar/flat/64.png" alt="">
      </div>
    </article>
    <article class="item">
      <h1 class="titulo">Confirmados</h1>
      <h1 class="amount orange">4682960</h1>
    </article>
    <article class="item">
      <h1 class="titulo">Recuperados</h1>
      <h1 class="amount green">4314593</h1>
    </article>
    <article class="item">
      <h1 class="titulo">Muertes</h1>
      <h1 class="amount red">99640</h1>
    </article>
    <article class="item">
      <h1 class="titulo">Letalidad</h1>
      <h1 class="amount red">2.13%</h1>
    </article>

  </section>

  <section class="container">
    <article class="casospaises">
      <h2>Selecciona un pais para ver su respectiva información sobre el <label class="red">Coronavirus</label></h2>
        <ul>
          <li>
            <button>Argentina</button><br/>
            <button id="brazil">Brazil</button><br/>
            <button>Chile</button><br/>
            <button>Peru</button><br/>
            <button>Ecuador</button><br/>
            <button>Argentina</button><br/>
            <button>Brazil</button><br/>
            <button>Chile</button><br/>
            <button>Peru</button><br/>
            <button>Ecuador</button><br/>
            <button>Argentina</button><br/>
            <button>Brazil</button><br/>
            <button>Chile</button><br/>
            <button>Peru</button><br/>
            <button>Ecuador</button><br/>
          </li>
        </ul>
    </article>
  
    <article class="map">
      <div id="map"></div>
    </article>

  </section>
  

  <script type="text/javascript"> 
    simplemaps_worldmap.hooks.click_state = function(id){
      alert(simplemaps_worldmap_mapdata.state_specific[id].name);
    }

    document.getElementById("brazil").addEventListener("click", () =>{
      simplemaps_worldmap_mapdata.main_settings.state_color='rgb(255, 36, 36)';
      simplemaps_worldmap.refresh()
    });
 </script>
</body>

</html>
