$background: #000000;
$card_background: #222222;
$light_blue_input: #2980B9;
$note-background: #FFFFFF;  

body
{
  background-color: $background;
  font-family: 'Acari Sans', sans-serif;
}


.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 40vw;
  

  .item
  {
    margin: 1vh;
    height: 13vh;
    width: 17vw;
    outline: 0.05px solid gray;
    background-color: $card_background;


    .bandera
    {
      display: flex;
      justify-content: center;
      align-items: center;
      img
      {
        padding: 1vh 0;
      }
    }
    

    .titulo
    {
      color: rgb(243, 243, 243);
      font-weight: 500;
      font-size: 1rem;
      text-align: center;
      margin-top: 0.3vh;
    }

    .amount
    {
      margin: 0vh;
      padding: -0.5vh -0.5vw;
      text-align: center;
      font-size: 2em;
    }
  }
}

.container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  .casospaises 
  {
    margin: 1vh;
    background: $card_background;
    outline: 0.05px solid gray;
    width: 17vw;
    min-height: 80vh;
  
    h2
    {
      font-size: 1rem;
      margin: 0 1vw;
      padding-top: 3vh !important;
      color: rgb(192, 192, 192);
      font-weight: 500;
      letter-spacing: 0.7px;
    }
  
    ul
    {
      margin: 2vh 1vw;
      padding: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 60vh;
  
  
      li
      {
        color:orange;
        list-style-type: none;
        padding: 0.5vh 0;
        
    
        button{
          width: 100%;
          padding: 1vh 1vh;
          background-color: #444444;
          color: rgb(221, 221, 221);
          font-weight: 600;
          outline: none;
          border: none;
          margin: 0.5vh 0;
          cursor: pointer;
          
          &:hover{
            background-color: #575757;
          }
        }
      }
    }
    ul::-webkit-scrollbar-track {
      border: 1px solid #000;
      padding: 2px 0;
      background-color: #404040;
    }
    
    ul::-webkit-scrollbar {
      width: 10px;
    }
    
    ul::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #737272;
      border: 1px solid #000;
    }
  
  
  
  }
  
  .map 
  {
    margin: 0vh 0.5vw;
    margin-top: 10vh;
    width: 70.8vw;
  }
}

.red{
  color: rgb(255, 36, 36);
}
.green{
  color: rgb(15, 204, 15);
}

.orange{
  color: orange;
}


@media only screen and (max-width: 768px) {
  .cards
  {
    .item 
    {
      width: 90vw;
      padding: 2.5vh 1vw;
    }
  }

  .container
  {
    .casospaises
    {
      width: 89.5vw;
      padding: 2.5vh 1vw;
  
      li button{
        width: 100%;
      }
    }
  
    .map
    {
      width: 89.5vw;
      padding: 2.5vh 1.1vw;
    }
  }


}
